/*UPSTREAM MODIFICATION by "nicholaswmin".Changed the body's background to #ecf0f1*/

body {
	margin: 0;
	overflow: hidden;
	font-family: Helvetica, sans-serif;
	font-size: 14px;
	background: #ecf0f1;
}

/*UPSTREAM MODIFICATION by "nicholaswmin". I changed a bit the color and position of the "#tools" since i added more toolbars and i needed to arrange them
properly. "#tools" here refer to the left hand tools such as select tool, pen tool etc*/

/*Changed the right tools background to #2F2F2C to match with the rest of the toolbars in ext-styleNext.css.*/
#tools {
	position: fixed;
	left: 40px;
	top: 95px;
	padding: 0;
	background: #fff;
	background: #2F2F2C;
	margin: 0;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
}


#menu {
	position: fixed;
	left: 5px;
	top: 5px;
	padding: 4px;
	background: rgba(255,255,255,0.5);
}

#menu a {
	padding: 2px 6px;
	text-decoration: none;
	color: #000;
	cursor: default;
}

#menu a.disabled {
	color: #888;
}

#menu a:hover {
	background: rgba(0,0,0,0.9);
	color: #fff;
}

#menu a.disabled:hover {
	background: transparent;
	color: #888;
}

#menu a:active {
	background: rgba(0,0,0,1.0);
	color: #ddd;
}

.button {
	display: inline-block;
	cursor: default;
	padding: 4px;
}

.button.disable {
	background: #686868;
	pointer-events:none;
}

.button:last-child {
	margin-bottom: 0px;
}

.button:hover {
	background: #00CCFF;
}

.button.selected {
	background: #00CCFF;
}

.button.selected:hover {
	background: #00CCFF;
}

.cursor-pen-create {
	cursor: url('../img/cursor-pen-create.png') 6 2, default;
}

.cursor-pen-add {
	cursor: url('../img/cursor-pen-add.png') 6 2, default;
}

.cursor-pen-remove {
	cursor: url('../img/cursor-pen-remove.png') 6 2, default;
}

.cursor-pen-edit {
	cursor: url('../img/cursor-pen-edit.png') 6 2, default;
}

.cursor-pen-close {
	cursor: url('../img/cursor-pen-close.png') 6 2, default;
}

.cursor-pen-adjust {
	cursor: url('../img/cursor-pen-adjust.png') 6 2, default;
}

.cursor-pen-join {
	cursor: url('../img/cursor-pen-join.png') 6 2, default;
}

.cursor-zoom-in {
	cursor: url('../img/cursor-zoom-in.png') 7 7, default;
}

.cursor-zoom-out {
	cursor: url('../img/cursor-zoom-out.png') 7 7, default;
}

.cursor-hand {
	cursor: url('../img/cursor-hand.png') 10 10, default;
}

.cursor-hand-grab {
	cursor: url('../img/cursor-hand-grab.png') 10 10, default;
}

.cursor-arrow-black {
	cursor: url('../img/cursor-arrow-black.png') 2 2, default;
}

.cursor-arrow-black-point {
	cursor: url('../img/cursor-arrow-black-point.png') 2 2, default;
}

.cursor-arrow-black-shape {
	cursor: url('../img/cursor-arrow-black-shape.png') 2 2, default;
}

.cursor-arrow-white {
	cursor: url('../img/cursor-arrow-white.png') 2 2, default;
}

.cursor-arrow-white-point {
	cursor: url('../img/cursor-arrow-white-point.png') 2 2, default;
}

.cursor-arrow-white-shape {
	cursor: url('../img/cursor-arrow-white-shape.png') 2 2, default;
}

.cursor-arrow-small {
	cursor: url('../img/cursor-arrow-small.png') 2 2, default;
}

.cursor-arrow-small-point {
	cursor: url('../img/cursor-arrow-small-point.png') 2 2, default;
}

.cursor-arrow-duplicate {
	cursor: url('../img/cursor-arrow-duplicate.png') 2 2, default;
}

.cursor-scale-0 {
	cursor: url('../img/cursor-scale-0.png') 9 9, default;
}

.cursor-scale-45 {
	cursor: url('../img/cursor-scale-45.png') 9 9, default;
}

.cursor-scale-90 {
	cursor: url('../img/cursor-scale-90.png') 9 9, default;
}

.cursor-scale-135 {
	cursor: url('../img/cursor-scale-135.png') 9 9, default;
}

.cursor-rotate-0 {
	cursor: url('../img/cursor-rotate-0.png') 9 9, default;
}

.cursor-rotate-45 {
	cursor: url('../img/cursor-rotate-45.png') 9 9, default;
}

.cursor-rotate-90 {
	cursor: url('../img/cursor-rotate-90.png') 9 9, default;
}

.cursor-rotate-135 {
	cursor: url('../img/cursor-rotate-135.png') 9 9, default;
}

.cursor-rotate-180 {
	cursor: url('../img/cursor-rotate-180.png') 9 9, default;
}

.cursor-rotate-225 {
	cursor: url('../img/cursor-rotate-225.png') 9 9, default;
}

.cursor-rotate-270 {
	cursor: url('../img/cursor-rotate-270.png') 9 9, default;
}

.cursor-rotate-315 {
	cursor: url('../img/cursor-rotate-315.png') 9 9, default;
}


#canvas {

}



/*For some reason, splitting here the non-upstream CSS from the upstream file generates a stupid white bar in the bottom of the Chrome Canary browser which
can be remedied by minimizing and remaximizing the browser window. That's weird. */
#svg_image{
    position:absolute;
    top:40px;
}

#cursorText{
    position:absolute;
    color: #2F2F2C;
}


ul {
  list-style-type: none
}



.fileinput-button input {
position: absolute;
opacity: 0;
-ms-filter: 'alpha(opacity=0)';
cursor: pointer;
margin: -25px 0 0 0;
}



.form-control-dark {
  display: block;
  width: 95%;
  height: 34px;
  padding: 6px 12px;
  margin: 2px 2px 2px 2px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #00CCFF;
  background-color: #2F2F2C;
  background-image: none;
  border: 0px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-dark:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control-dark::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control-dark:-ms-input-placeholder {
  color: #999;
}
.form-control-dark::-webkit-input-placeholder {
  color: #999;
}
.form-control-dark[disabled],
.form-control-dark[readonly],
fieldset[disabled] .form-control-dark {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
textarea.form-control-dark {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
input[type="date"] {
  line-height: 34px;
}
.form-group {
  margin-bottom: 15px;
}







.form-control-spinner {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #00CCFF;
  background-color: #2F2F2C;
  background-image: none;
  border: 0px solid #ccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control-spinner:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control-spinner::-moz-placeholder {
  color: #999;
  opacity: 1;
}
.form-control-spinner:-ms-input-placeholder {
  color: #999;
}
.form-control-spinner::-webkit-input-placeholder {
  color: #999;
}
.form-control-spinner[disabled],
.form-control-spinner[readonly],
fieldset[disabled] .form-control-spinner {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}
textarea.form-control-spinner {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: none;
}
input[type="date"] {
  line-height: 34px;
}
.form-group {
  margin-bottom: 15px;
}




#simplifySliderDiv  {
	position: fixed;
	left: 930px;
	top: 462px;
}

#simplifySlider1  {
	position: fixed;
	left: 930px;
	top: 462px;
}


.alert {
   width:40%; 
   position: fixed;
   left: 340px;   
}


.tools_fileMenu {
    position: fixed;
	left: 140px;
	top: 10px;
	z-index: 1;
}


.tools_top {
	position: fixed;
	left: 40px;
	width:auto;
	top: 580px;
	padding: 0;
	background: #fff;
	background: #2F2F2C;
	margin: 0;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
}

.tools_undo {
	position: fixed;
	left: 40px;
	width:auto;
	top: 5px;
	padding: 0;
	background: #fff;
	background: #2F2F2C;
	margin: 0;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
}

.tools_right {
	position: fixed;
	left: 1100px;
	width: 90px;
	top: 50px;
	padding: 0;
	background: #fff;
	background: #2F2F2C;
	margin: 0;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
}


.tools_right_alignment {
	position: fixed;
	left: 1100px;
	width: 90px;
	top: 480px;
	padding: 0;
	background: #fff;
	background: #2F2F2C;
	margin: 0;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
}

.tools_right_alignment.disable {
	background: #686868;
	pointer-events:none;
}



.tools_elementType {
	position: fixed;
	left: 40px;
	top: 50px;
	width: 230px;
	padding: 0;
	background: #fff;
	background: #2F2F2C;
	margin: 0;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
	z-index: 0;
}

.gridSpinnerDiv {
  position: fixed;
  left: 40px;
  top: 550px;
  padding: 0;
  z-index: 0;
	width: 13%;
}

.gearSpinnerDiv {
  width: 40%;
}

