/*For some reason, splitting here the non-upstream CSS from the upstream file generates a stupid white bar in the bottom of the Chrome Canary browser which
can be remedied by minimizing and remaximizing the browser window. That's weird. */


#tools_undo {
	position: fixed;
	left: 40px;
	width:auto;
	top: 5px;
	padding: 0;
	background: #fff;
	background: #2F2F2C;
	margin: 0;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
}

#tools_right {
	position: fixed;
	left: 1100px;
	width: 130px;
	top: 50px;
	padding: 0;
	background: #fff;
	background: #2F2F2C;
	margin: 0;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
}


#tools_elementType {
	position: fixed;
	left: 40px;
	top: 65px;
	padding: 0;
	background: #fff;
	background: #2F2F2C;
	margin: 0;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
}