/*For some reason, splitting here the non-upstream CSS from the upstream file generates a stupid white bar in the bottom of the Chrome Canary browser which
can be remedied by minimizing and remaximizing the browser window. That's weird. */

#smoothSliderDiv  {
	position: fixed;
	left: 930px;
	top: 462px;
}

#smoothSlider1  {
	position: fixed;
	left: 930px;
	top: 462px;
}


.alert {
   width:40%; 
   position: fixed;
   left: 340px;   
}


#tools_fileMenu {
    position: fixed;
	left: 140px;
	top: 10px;
	z-index: 1;
}


#tools_top {
	position: fixed;
	left: 40px;
	width:auto;
	top: 580px;
	padding: 0;
	background: #fff;
	background: #2F2F2C;
	margin: 0;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
}

#tools_undo {
	position: fixed;
	left: 40px;
	width:auto;
	top: 5px;
	padding: 0;
	background: #fff;
	background: #2F2F2C;
	margin: 0;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
}

#tools_right {
	position: fixed;
	left: 1100px;
	width: 90px;
	top: 50px;
	padding: 0;
	background: #fff;
	background: #2F2F2C;
	margin: 0;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
}


#tools_elementType {
	position: relative;
	left: 40px;
	top: 50px;
	width: 230px;
	padding: 0;
	background: #fff;
	background: #2F2F2C;
	margin: 0;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.4);
	z-index: 0;
}

/*The original classes for the button are included in the original upstream file. This is simply an extension. This is generally used to disable buttons but keep the visible. E.g the path 
smoother is disabled when more than 1 item is disabled*/

.button.disable {
	background: #686868;
	pointer-events:none;
}